<ul>
    <li>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="../index.html">
            <img src="../images/logo.png" alt="logo">
        </a>
    </li>
    <li class="comname">
        <a href="../index.html">Codevengers</a>
    </li>
    <li>
        <div class="languages">
            <p class="courses">Courses ↓</p>
            <div class="options"></div>
        </div>
        <button type="button" class="themeBtn" id="theme">☀️</button>
    </li>
</ul>